<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ezerka.pingo">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature
    android:name="android.hardware.camera"
    android:required="true" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <provider
      android:name="android.support.v4.content.FileProvider"
      android:authorities="com.example.android.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

    <service android:name=".utility.MyFirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <service android:name=".utility.MyFirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>
    </service>

    <activity android:name=".app.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".app.RegisterActivity" />
    <activity android:name=".app.SignedInActivity" />
    <activity android:name=".app.SettingsActivity" />
    <activity android:name=".app.ChatActivity" />
    <activity android:name=".app.ChatroomActivity" />
    <activity android:name=".app.AdminActivity" />
    <activity
      android:name=".issues.IssuesActivity"
      android:windowSoftInputMode="adjustPan" />
    <activity android:name=".issues.NewProjectActivity" />
    <activity android:name=".issues.NewIssueActivity" />
    <activity android:name=".issues.ProjectDetailsActivity" />
    <activity android:name=".issues.IssueDetailsActivity" />

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="7a1cc0dcfc716d45d0d1821d36a7fc28fe14144c" />

    <activity
      android:name=".app.MapsActivity"
      android:label="@string/title_activity_maps"
      android:theme="@style/NoActionBar" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyBoKopMyD3cet_0fuU5XPTzVNJ6-cjGEik" />
  </application>

</manifest>
